:root {
  --color-red: #8b2624;
  --color-smoke-white: #d7d3c3;
  --color-black-grey: #313131;
  --color-blue: #45567d;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  text-align: center;
}

nav {
  background-color: var(--color-red);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0;
}

li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
}

a {
  text-decoration: none;
  color: var(--color-smoke-white);
  font-size: 1.8rem;
  font-weight: 700;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--color-smoke-white);
}

h1,
h2 {
  margin-top: 0;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.container {
  width: 50%;
  margin: 0 auto;
  /* border: 1px solid #8b2624; */
  padding: 25rem 0;
}

.inverse {
  margin-top: 8.4rem;
  color: var(--color-smoke-white);
  background: var(--color-black-grey);
}

.projects {
  margin-top: 0;
}

.about-me {
  background-color: var(--color-smoke-white);
  color: var(--color-black-grey);
}

.my-pic {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.accent-text {
  display: block;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--color-red);
}

.btn {
  padding: 0.2rem 3rem 0.4rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 3rem;
  background-color: var(--color-black-grey);
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  color: var(--color-black-grey);
  background-color: rgba(49, 49, 49, 0.1);
  border: 1px solid var(--color-black-grey);
  transition: 0.3s ease-in;
}
